# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\docker\laravel\prueba-laravel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
